body {
	margin: 0;
	font-family: 'Arial', sans-serif;
}

.container {	
	padding: 100px 15vw;
}

h1.search-term {
	color: #888;
	margin-top: 0;
	margin-bottom: 100px;
	font-style: italic;
	font-weight: 400;
	font-size: 18pt;
}
